@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
}

h1 {
    border: 2px solid white;
    margin: 0px 25px 47px 25px;
    border-radius: 10px;
    font-size: 70px;
    font-weight: 300;
    font-family: 'Courier Prime', monospace;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 40px 0;
    margin: 200px auto;
    border: 5px solid white;
    background-color: cyan;
    border-radius: 10px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    font-size: 30px;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn1 {
    background-color: rgb(243, 115, 115);
}

.btn2 {
    background-color: yellow;
}

.btn3 {
    background-color: rgb(134, 134, 247);
}